@model IntroViews.Models.Calculadora

@{
    ViewData["Title"] = "Operacao";
}

<h1>Resultado da @Model.NomeOperacao</h1>
<p>A @Model.NomeOperacao de @Model.Numero1 @Model.Operacao @Model.Numero2 é igual a @Model.Resultado</p>